@model IEnumerable<play2.Controllers.CtPurchaseEdit>



@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    ViewBag.Title = "creditnoteList";
}

@section Styles{
    <style>
        @@media print {
          .no-print {
            display: none;
          }
        }          
</style>
}

<h1 class="card-title" style="text-align:center;font-size:3em">進貨單查詢維護</h1>
<hr>
<div style="height:12px"></div>


<div style="display:flex ;margin-bottom:36px" class=" no-print">

    <a href="~/Controller23/purchaseCreate" class="btn btn-primary no-print">+新增進貨單</a>
        <div style="margin-left:28px ; display:flex">
        <input type="text" name="txtkeyword" class="form-control no-print" style="height:36px ;width:200px" placeholder="1" id="searchnum" />
            &nbsp;&nbsp;
            @{
            @Html.ActionLink("查詢單號", "purchaseListbyID", "Controller23", new { id = "1" }, new {@class="searchnum btn btn-outline-secondary no-print "  })
            }

        &nbsp;&nbsp;&nbsp;&nbsp;

        <select id="selsp" class="no-print">
             <option value="1">台灣索尼股份有限公司 SONY</option>
            <option value="2" >香港商任天堂香港有限公司 Nintendo</option>
            <option value="3">台灣微軟股份有限公司 MICROSOFT</option>
            <option value="4">世雅育樂股份有限公司 SEGA</option>
            <option value="5">台灣卡普空股份有限公司  CAPCOM</option>
            <option value="6">香港商動視暴雪有限公司 Bizzard</option>
            <option value="7">雷亞遊戲股份有限公司 RAYARK</option>
         </select>
        <input hidden type="text" name="name" class="form-control no-print" style="height:36px ;width:200px" placeholder="微軟" id="searchsp" />
            &nbsp;&nbsp;
        @{
            @Html.ActionLink("查詢供應商", "purchaseListbySupplier", "Controller23", new { id = "1" }, new {@class="searchsp btn btn-outline-secondary no-print "  })
        }

    </div>
    <div hidden style="margin-left:28px ; display:flex"> <!--改好再放上-->
        <input type="text" class="form-control no-print" style="height:36px ;width:160px" id="searchdate1" placeholder="2023-01-01" />
        &nbsp;&nbsp;
        <i class="bi bi-arrow-right  no-print " style="margin-top:3px"></i>
        &nbsp;&nbsp;
        <input type="text" class="form-control no-print" style="height:36px ;width:160px" id="searchdate2" placeholder="2023-02-24" />

        &nbsp;&nbsp;
        @{
            @Html.ActionLink("查詢日期", "purchaseListbyDate", "Controller23", new { date1="1" ,date2="2" }, new {@class="searchdate btn btn-outline-secondary no-print "  })
        }
    </div>


</div>



<table class="table">
    <thead>
        <tr>
            <th width="8%">
                @Html.DisplayNameFor(model => model.進貨單號)
            </th>
            <th width="8%">
                @Html.DisplayNameFor(model => model.進貨日期)
            </th>
            <th width="4%">
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th width="25%">
                @Html.DisplayNameFor(model => model.供應商名稱)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.進貨總價)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.倉庫別)
            </th>
            <th width="15%" >
                @Html.DisplayNameFor(model => model.備註)
            </th>
            <th width="10%" class="no-print">
                查詢/修改
            </th>
        </tr>
    </thead>
    <tbody>


@{        decimal pcost = 0;
foreach (var item in Model) {

            pcost =item.進貨總價;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.進貨單號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.進貨日期)
                </td>
                  <td >
                        @Html.DisplayFor(model => item.SupplierID)
                     </td>

                <td>
                    @Html.DisplayFor(modelItem => item.供應商名稱)
                </td>
                     <td>
                            @pcost.ToString("###,###,##0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.倉庫別)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.備註)
                </td>
                        <td class="no-print">@Html.ActionLink("查詢/修改", "purchaseEdit", "Controller23", new { id = item.進貨單號 }, new {@class="btn btn-primary "  })</td>
                    
            </tr>
}
}
    </tbody>
</table>
<div style="float:right ; margin:36px; height:100px" class="no-print">
    <button id="prt" type="button" class="btn btn-info no-print" onclick="window.print()">列印</button>
</div>

@section Scripts{
    <script>

        //搜尋單號
        $(function () {
            $('.searchnum').click(function () {
                var ipvalue = $("#searchnum").val();
                this.href = this.href.replace("1", ipvalue);
            });
        });


        //搜尋供應商，option的值填到input
        let selsp = $("#selsp");
        let selspval= selsp.val();
        let searchsp = $("#searchsp");
        let searchspval = searchsp.val();
        selsp.on("change", getnum);
        function getnum(){
            optval = $(this).find(':selected').attr('value');

            searchspval = optval;
            //console.log(searchspval);
        }

        //搜尋供應商
        $(function () {
            $('.searchsp').click(function () {

                this.href = this.href.replace("1", searchspval);
                console.log(searchspval);
            });
        });

        //搜尋日期
            $(function () {
            $('.searchdate').click(function () {
                var ipvalue = $("#searchdate1").val();
                this.href = this.href.replace("1", ipvalue);
                var ipvalue2 = $("#searchdate2").val();
                this.href = this.href.replace("2", ipvalue2);

                console.log(ipvalue);
                console.log(ipvalue2);

            });
        });

            //$(function () {
            //$('.searchdate').click(function () {
            //    var ipvalue = $("#searchdate2").val();
            //    this.href = this.href.replace("2", ipvalue);
            //    console.log(ipvalue);

            //});
        //});




    </script>


}
